<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Home'}) %> 
<body>
    <%- include('partials/navbar') %> 
    <section class="hero mt-5">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <h1 class="mb-4">
                WELCOME TO KIEV CAFE !
              </h1>
              <p class="mb-4">
                 Kiev is your tummy best friend
              </p>
              <a class="btn btn-primary" href="/foods" role="button">Happiness is here !</a>
            </div>
            <div class="col d-sm-block">
              <img style="margin-right: -100px;" width="700" src="css/img/home.svg" alt="">
            </div>
          </div>
        </div>
      </section>>
</body>
</html>